*.csv filter=lfs diff=lfs merge=lfs -text
*.adf filter=lfs diff=lfs merge=lfs -text
*.adf3 filter=lfs diff=lfs merge=lfs -text
*.binv2 filter=lfs diff=lfs merge=lfs -text
*.gdf filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
